body{
  font-family: 'Montserrat';
  text-align: center;
  color: white;
}
h1,h2,h3,h4,h5,h6{
  font-weight: bolder;
}
p{
  color:#8f8f8f;
}
.container-fluid{
  padding: 3% 15%;
}


/* navbar */
.navbar{
  padding: 0 0 4.5rem 0;
}
.navbar-brand{
  color: white;
  font-size: 2.5rem;
  font-family: 'Ubuntu',sans-serif;
}
.navbar-brand:hover{
  color: white;
}
.navbar-nav{
  margin-left: 60%;
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  color: #F5EBE0;
  font-size: 1.2rem;
}
.nav-link:hover{
  color: white;
}

/* title */
#title{
  background-color: #DB66E4;
  text-align:left;
}
.main-heading{
  font-size: 3.5rem;
  line-height: 1.5;
}
.btn{
  margin: 5% 3% 5% 0;
}
.container{
  padding-bottom: 80px;
}
.title-image{
  border-radius: 30px;
  position: absolute;
  width: 18%;
  right: 20%;
  transform: rotate(25deg);
}


/* features */
#features{
  position: relative;
  background-color: white;
}
.feature-box{
  color: black;
  padding-top: 150px;
}
.feature-items{
  text-align: center;
  padding: 0 50px;
}
.fa-solid{
  color: #F77FEE;
  margin-bottom: 1rem;
}
.fa-solid:hover{
  color:#DB66E4;
}

/* testimonials */
#testimonials{
  background-color: #F77FEE;
}
.testimonial-text{
  font-size: 3rem;
  text-align: center;
  line-height: 1.5;
  padding: 50px 0;
}
.testimonial-image{
  width: 15%;
  border-radius: 100%;
  margin:auto;
  margin-bottom: 30px;
}

/* pricing */
.pricing-text{
  color: black;
  margin:70px auto 20px;
  font-size: 3rem;
}
.card-title{
  font-size: 2rem;
}
.card{
  background-color: #F77FEE;
  padding:5px;
  margin-right: 30px;
  margin-top: 50px;
}

/* download */
#download{
  background-color: #F77FEE;
}
.download-div{
  padding: 100px 200px 150px;

}
.download-text{
  font-size: 3.5rem;
  line-height: 1.5;
}

/* footer */
.footer-div{
  padding: 100px 0;
}
.footer-tags{
  color: black;
  margin-right: 20px;
}

/*  for responsive website */
@media(max-width: 1040px)
{
    #title
    {
        text-align: center;
    }
    .title-image
    {
        position: static;  transform: rotate(0);
        border-radius: 10px;
    }
}
